body {
  padding: 0;
  margin: 0;
}

#original-design {
  display: none;
  position: fixed;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 50%;
  z-index: 3;
}


header {
  width: 100%;
  overflow: hidden;
  height: 160px;
  background-color: #14110f;
  display: grid;
  grid-template-rows: 1fr 2fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "nav-1 nav-1 nav-1 nav-1 nav-1"
    "nav-2 nav-3 nav-4 nav-5 nav-5"
}

.nav-1 {
  grid-column: span 5;
  grid-area: nav-1;
}

.nav-2 {
  grid-column: span 1;
  grid-area: nav-2;
}

.nav-3 {
  grid-column: span 1;
  grid-area: nav-3;
}
.nav-4 {
  grid-column: span 1;
  grid-area: nav-4;
}
.nav-5 {
  grid-column: span 2;
  grid-area: nav-5;
}

#navmenu {
  margin: 30px 50px 50px 75px;
  text-decoration: none;
  font-family: avenir;
  text-transform: uppercase;
  font-size: 14pt;
  color: #f8f8f8;
}

#text1 {
  height: 10px;
  margin: 18px 10px 50px 16px;
  text-decoration: none;
  font-family: avenir;
  font-size: 28pt;
  color: #f28123;
  grid-column: span 4;
  grid-area: text;
}

.username {
  margin: 18px 55px 20px 20px;
  float: right;
  text-decoration: none;
  font-family: avenir;
  font-size: 10pt;
  color: #f8f8f8;
  grid-area: user;
}

.logo {
  margin-right: 20px;
  margin-bottom: 70px;
  padding: 15;
  height: 100px;
  float: right;
  grid-area: logo;
  opacity: 75%;
}

main {
  background-color: #f8f8f8;
  margin: 20px 20px 20px 20px;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 25% 25% 25% 25%;
  grid-gap: 10px;
  position: center;
  grid-template-areas:
    "text text text text"
    "card-1 card-2 card-3 card-4"
    "card-5 card-6 card-7 card-8";
}
.band-img-1 {
  height: 210px;
  grid-area: band1img;
  opacity: 75%;
}

.bandinfo {
  padding: 0;
  margin: 10px;
  text-decoration: none;
  font-family: avenir;
  font-size: 20pt;
  color: #f28123;
}

.venue {
  margin: 10px;
  padding: 0;
  font-family: avenir;
  text-transform: uppercase;
  font-size: 10pt;
  color: #14110f;
}

.linkbox {
  padding: 0;
  width: 15em;
  height: 3em;
  background-color: #847e89;
  position: center;
  margin: center;
  /* margin: 2px 20px 20px 30px; */
  text-align: center;
  font-family: avenir;
  vertical-align: middle;
  display: inline-block;
}

.card-1 {
  justify-content: center;
  align-items: center;
  background-color: white;
  box-shadow: 0px 1px 3px #14110f;
  /* border-style: solid;
  border-width: medium;
  border-color: #14110f;
  border-radius: 1%; */
  grid-area: card-1;
  height: 420px;
  width: auto;
  overflow: hidden;
  display: grid;
  grid-template-rows: 200px 30px 30px 1fr 1fr;
  grid-gap: 4px;
  grid-template-areas:
  "band1img"
  "card-2"
  "card-3"
  "card-4"
  "card-5";
}

.card-2 {
  background-color: green;
  grid-area: card-2;
  height: 400px;
}
.card-3 {
  background-color: yellow;
  grid-area: card-3;
  height: 400px;
}
.card-4 {
  background-color: red;
  grid-area: card-4;
  height: 400px;
}
.card-5 {
  background-color: purple;
  grid-area: card-5;
  height: 400px;
}
.card-6 {
  background-color: pink;
  grid-area: card-6;
  height: 400px;
}
.card-7 {
  background-color: black;
  grid-area: card-7;
  height: 400px;
}
.card-8 {
  background-color: cornflowerblue;
  grid-area: card-8;
  height: 400px;
}
@media screen and (max-width: 450px) {
  main {
    grid-gap: 5px;
    padding: 2;
    width: auto;
    margin: auto;
    grid-template-areas:
      "text"
      "card-1"
      "card-2"
      "card-3"
      "card-4"
      "card-5"
      "card-6"
      "card-7"
      "card-8";
    grid-template-columns: 1fr;
  }
}
